<section class="bg-gray-50 dark:bg-gray-900 min-h-screen flex flex-col">
  <!-- Barra de navegación -->

  <app-navbar></app-navbar>

<main class="flex-1">
    <!-- Tarjetas de dashboard -->
  <section class="dark:bg-gray-900 rounded-lg p-6 m-4">
    <app-card-dashboard></app-card-dashboard>
  </section>


  <!-- Información de productos -->

  <section class="grid grid-cols-1 lg:grid-cols-3 gap-6 p-6 m-4">
        <!-- Productos con stock bajo -->
    <div class="lg:col-span-2 bg-gray-900 rounded-xl shadow border border-gray-400">
      <app-table-stock></app-table-stock>
    </div>
      <!-- Mas vendidos -->
      <app-sales></app-sales>
  </section>

</main>

<app-footer></app-footer>
</section>

