<section class="bg-gray-50 dark:bg-gray-900">
  <!-- Overlay de loading -->
  @if (loading) {
    <div
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
    >
      <div class="flex flex-col items-center">
        <!-- Aquí va tu SVG de loading -->
        <img
          src="../../../../assets/spinner.svg"
          alt="Cargando..."
          class="w-16 h-16 animate-spin"
        />
        <p class="mt-4 text-white font-medium">Procesando...</p>
      </div>
    </div>
  }

  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        class="w-8 h-8 mr-2"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
        alt="logo"
      />
      Iniciar sesión
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <form
          class="space-y-4 md:space-y-6"
          [formGroup]="logInForm"
          (ngSubmit)="addLogInForm()"
        >
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Correo</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@company.com"
              formControlName="email"
              autocomplete="disabled"
            />
            <div>
              @if (formUtils.isValidField(logInForm, "email")) {
                <span class="text-red-500 text-sm">
                  {{ formUtils.getFieldError(logInForm, "email") }}
                </span>
              }
            </div>
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Contraseña</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              formControlName="password"
            />
            <div>
              @if (formUtils.isValidField(logInForm, "password")) {
                <span class="text-red-500 text-sm">
                  {{ formUtils.getFieldError(logInForm, "password") }}
                </span>
              }
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start"></div>
            <a
              href="#"
              class="text-sm font-medium text-emerald-600 hover:underline dark:text-emerald-500"
              >Olvidaste la contraseña?</a
            >
          </div>
          <button
            type="submit"
            class="w-full text-white bg-emerald-600 hover:bg-emerald-700 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800"
          >
            Iniciar sesión
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Aun no estas registrado?
            <a
              routerLink="/auth/sign-up"
              class="font-medium text-emerald-600 hover:underline dark:text-emerald-500"
              >Registrate</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>

  <!-- Toast de error -->


    <!-- Toast Container (posición fija) -->
  <div class="fixed top-4 right-4 z-50">
    @if(showToast) {
      <div
        id="toast-danger"
        class="flex items-center w-full max-w-sm p-4 text-white dark:bg-gray-800 rounded-base shadow-xs border border-default animate-slideIn"
        role="alert"
      >
        <!-- Icono de error -->
        <div class="inline-flex items-center justify-center shrink-0 w-7 h-7 text-fg-danger bg-danger-soft rounded">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
          </svg>
          <span class="sr-only">Error icon</span>
        </div>

        <!-- Mensaje -->
        <div class="ms-3 text-sm font-normal">{{ toastMessage }}</div>

        <!-- Botón para cerrar -->
        <button
          type="button"
          class="ms-auto flex items-center justify-center text-white hover:text-heading bg-transparent box-border border border-transparent hover:bg-neutral-secondary-medium focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded text-sm h-8 w-8 focus:outline-none"
          (click)="closeToast()"
          aria-label="Close"
        >
          <span class="sr-only">Close</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
          </svg>
        </button>
      </div>
    }
  </div>
</section>
